link(href="/css/nav.css", rel="stylesheet")
if type  === 'admin'
  .navLeft.col-md-2
    .list-group
      a(href="/admin/user/list", class="list-group-item #{path == 'user'?'active':''}") 用户列表
      a(href="/admin/movie/list", class="list-group-item #{path == 'movie'?'active':''}") 电影列表
      a(href="/admin/blog/list", class="list-group-item #{path == 'blog'?'active':''}") 文章列表
#topbar
  div(class="headbar head-mini" id="headbar")
    .headbarnav
      dd
        a(href="/") 首页
          i
      dd
        a(href="/movie") 电影
          i
      dd
        a(href="/crawler") 爬虫
          i
      dd
        a(href="/livenews") 新闻
          i
      dd
        a(href="/blog") 博客
          i
    div(class="headtool" id="loginbox")
      if user
        .headunlogin
          p
            span 欢迎您,#{user.name}
            span &nbsp;|&nbsp;
            a.navbar-link(href="/logout") 登出
      else
        i.line
        .headunlogin
          a(href="javascript:void(0);" data-toggle="modal", data-target="#signinModal") 登录
            i
          em
          a(href="javascript:void(0);" data-toggle="modal", data-target="#signupModal") 注册
    div(class="headtool" id="searchbox")
      a(href="javascript:void(0)" class="headzoom")
        em(class="zoom" title="搜索" pan="M16_HeadNav_Sreach_Tool_Zoom")
      div(class="headsearch" style={display: 'none'})
        div.topsearch
          form(method='GET', action='/results' class="searchshadow")
            input(type="text" class="text c_a5" value="" name="q" autocomplete="off")
            a(href="javascript:void(0);" class="button __r_c_" title="搜索" pan="M16_HeadNav_Search_Btn_0")
              button(type="submit")
          .showsearch(style={display: 'none'})
div(class=  type === 'admin'?"col-md-10":"container")
  .row
    if error
      div(class="alert alert-danger" role="alert") !{error}
    else if success
      div(class="alert alert-success" role="alert") !{success}

#signupModal.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST", action="/user/signup")
        .modal-header 注册
        .modal-body
          .form-group
            label(for="signupName") 用户名
            input#signupName.form-control(name="user[name]", type="text")
          .form-group
              label(for="signupPassword") 密码
              input#signupPassword.form-control(name="user[password]", type="text")
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 提交
#signinModal.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST", action="/user/signin")
        .modal-header 登录
        .modal-body
          .form-group
            label(for="signinName") 用户名
            input#signinName.form-control(name="user[name]", type="text")
          .form-group
            label(for="signinPassword") 密码
            input#signinPassword.form-control(name="user[password]", type="text")
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 提交
script.
  if($('.alert').length){
    setTimeout(function () {
      $('.alert').css('display','none')
    },2000)
  }
  var hW = document.body.clientWidth
  $('.headsearch').css('width',hW * 0.2)

  $('.headzoom').on('click',function () {
    var em = $(this).find('em')
    var pan = em.attr('pan')
    if(pan == 'M16_HeadNav_Sreach_Tool_Zoom'){
      em.addClass('cancel').removeClass('zoom').attr('title', '取消').attr('pan','M16_HeadNav_Sreach_Tool_Cancel')
      $('.headsearch').css('display', 'block')
    }else{
      em.addClass('zoom').removeClass('cancel').attr('title', '搜索').attr('pan','M16_HeadNav_Sreach_Tool_Zoom')
      $('.headsearch').css('display', 'none')
    }
  })
  $('input.text').on('focus',function () {
    $('a.button').addClass('cur')
  })
  $('input.text').on('blur', function () {
    $('a.button').removeClass('cur')
  })