extends ../layout
block content
    link(href="/css/detail.css", rel="stylesheet")
    link(href="/css/index.css", rel="stylesheet")


    if movie.id
      .db_shadow.movieContent
        .db_topcont
          .db_coverinner
              .db_coverpicbox
                if movie.flash
                    embed(src="#{movie.flash}", allowFullScreen="true", quality="high", width="720", height="600", align="middle", allowScriptAcess="always", type="application/x-shockwave-flash")
                else
                    img(src="#{movie.poster}",width="100%")
          .db_contout
            .clearfix
                .db_head
                    h1(style={'font-size': '35px'}) #{movie.title}
                    p(class="db_year" style={'font-size': '30px'})
                        a(style={'font-size': '30px'}) (#{movie.year})
                dl.info_l
                    dd
                        strong 导演：
                        span #{movie.director}
                    dd
                        strong 国家：
                        span #{movie.country}
                    dd
                        strong 语言：
                        span #{movie.language}
                    dt
                        h4(class="px14 mt12") 剧情：
                        p(class="mt6 lh18") #{movie.summary}
            .panel.panel-defatul
              .comment_heading
                  h4 评论区
              .div
                  if comments && comments.length > 0
                      ul.media-list
                  each item in comments
                      li.media
                          .pull-left
                              a.comment(href="#comments", data-cid="#{item.id}", data-tid="#{item.user_id}")
                                  img.media-object(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+", style="width: 40px; height: 40px;")
                          .media-body
                              h4.media-heading #{item.name}
                                  if item.parent_name
                                      span 回复 #{item.parent_name} :
                                  else
                                      span #{item.parent_name} :
                                  span #{item.content}
                              p #{item.createAt}
                          hr
                  #comments
                      form#commentForm
                          input(type="hidden", name="comment[movie]", value="#{movie.id}")
                          if user
                              input(type="hidden", name="comment[from]", value="#{user.id}")
                              input#toId(type="hidden", name="comment[tid]")
                              input#commentId(type="hidden", name="comment[cid]")
                          .form-group
                              textarea.form-control(name="comment[content]", row="3")
                          if user
                              button#submit.btn.btn-primary 提交
                          else
                              a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") 登录后评论
    else
        .container
            .row
                |页面找不到了
    script.
        $(function() {
            $('.comment').click(function(e) {
                var target = $(this)
                var toId = target.data('tid')
                var commentId = target.data('cid')
                $('#toId').val(toId)
                $('#commentId').val(commentId)
            })
            $('#submit').click(function(e) {
                e.preventDefault()
                $.ajax({
                        type: 'POST',
                        data: $('#commentForm').serialize(),
                        url: '/user/comment'
                    }).done(function(results) {
                        console.log('results',results)
                        if (results.success === 1) {
                            window.location.reload()
                        }
                    }
                )
            })
        })