extends ../layout
block content
  .col-md-10.mt50
    .row
      a(class="func" href="/admin/movie/new") 增加电影
      table.table.table-hover.table-bordered
        thead
          tr
            th 类别
            th 电影名字
            th 导演
            th 国家
            th 上映年份
            th 录入时间
            th pv
            th 查看
            th 修改
            th 删除
        tbody
          each item in movies
            tr(class="item-id-#{item.id}")
              td
                if item.genres
                    | #{item.genres}
              td #{item.title}
              td #{item.director}
              td #{item.country}
              td #{item.year}
              td #{moment(item.updateAt).format('MM/DD/YYYY')}
              td #{item.pv}
              td: a(target="_blank", href="/movie/#{item.id}") 查看
              td: a(target="_blank", href="/admin/movie/update/#{item.id}") 修改
              td
                button.btn.btn-danger.moviedel(type="button", data-id="#{item.id}") 删除
      ul.pagination
        - for (var i = 0; i < totalPage; i++) {
          - if (currentPage == (i + 1)) {
            li.active
              span #{currentPage}
          - }
          - else {
            li
              a(href='/admin/movie/list?&p=#{i+1}') #{i + 1}
          - }
        - }
  script(src="/js/admin.js")