extends ../layout

block content
  .col-md-10.mt50
    .row
      a(class="func" href="/admin/user/new") 增加用户
      table.table.table-hover.table-bordered
        thead
          tr
            th 名字
            th 时间
            th 身份
            th 操作
            th 操作
        tbody
          each item in users
            tr(class="item-id-#{item.id}")
              td #{item.name}
              td #{moment(item.createAt).format('YYYY/MM/DD')}
              td #{item.roleName}
              td: a(target="_blank", href="/admin/user/update/#{item.id}") 修改
              td
                button.btn.btn-danger.userdel(type="button", data-id="#{item.id}") 删除
  script(src="/js/admin.js")